@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC|Open+Sans");
@import url("all_components/container.css");
@import url("all_components/avatar.css");
@import url("all_components/button.css");
@import url("all_components/banner.css");
@import url("all_components/card.css");
 

 body {
  font-family: 'Lora', serif;
  font-size: 16px;
  background-color: white;
}

 h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
	color: black;
	font-size: 40px;
	line-height: 20px;
	width:800px;

}

h2 {
	color: black;
	font-weight: lighter;
	font-size: 40px;
}

h3 {
	color: black;
	font-weight: lighter;
	font-size: 40px;

}
h4 {
	color: black;
	font-weight: lighter;
	font-size: 20px;
	justify-content: justify;

}
 a {
  text-decoration: none;
}


@media (max-width: 960px) {
 
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {

.container {
    width: 500px;
  }
}
@media (max-width: 540px) {
 
  .container {
    width: 300px;
  }
